# Archivos de Build y Binarios de Maven
########################################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-check-report.html
dependency-check-report.xml

# Directorios de IDEs (IntelliJ IDEA, Eclipse, NetBeans)
########################################
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# Directorios Generados por la App (Logs, Temp, Configuracion)
########################################
# Logs
*.log

# Archivos de Configuracion
.env
.env.*
application*.properties
application*.yml

# Java/Clases
########################################
*.class

# Directorios Temporales
# Ignorar el .gitkeep si lo estás usando solo para directorios vacíos
*.gitkeep
